.message__bubble__wrapper {
  display: inline-flex;
  flex-direction: column;
  max-inline-size: 65%;
  margin: 0 auto 0 0;
  animation: fadeIn 0.5s ease-in;

  span {
    display: none;
    text-align: right;
  }

  .user__avatar {
    display: none;
    margin-inline-end: 0.5em;
  }

  & ~ .message__bubble {
    border-radius: $bubble-border-radius 0 0 $bubble-border-radius;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(10px);
      transform: translateY(10px);
    }
  }

  .message__bubble__container {
    display: flex;
    align-items: flex-end;
  }

  .message__bubble {
    display: inline-block;
    padding: 0.75em 1em;
    font-size: 1.25rem;
    font-weight: normal;
    line-break: loose;
    inline-size: initial;
    margin-block-end: 0.25rem;
    line-height: 1.75rem;
    color: $white;
    background-color: $orange;
    border-radius: $bubble-border-radius $bubble-border-radius
      $bubble-border-radius 0;
  }

  &[data-sender='false'] {
    .user__avatar {
      display: inline-block;
    }
    span {
      margin-inline-start: 2.75rem;
    }
    .message__bubble {
      background-color: $white;
      color: $orange;
    }
  }
  &[data-sender='true'] {
    margin: 0 0 0 auto;
    .message__bubble {
      margin-inline-start: auto;
      border-radius: $bubble-border-radius $bubble-border-radius 0
        $bubble-border-radius;
    }
  }

  &:last-of-type {
    span {
      display: inline-block;
    }
  }
}

.modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 98;
  background-color: $light-orange;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
}

.modal__container {
  inline-size: 600px;
  margin: auto;
  display: block;
  padding: 2rem;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 8px 46px rgba(0, 0, 0, 0.03), 0 2px 6px rgba(0, 0, 0, 0.03);

  .modal__header {
    margin-block-end: 2rem;
  }

  .modal__footer {
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
      margin-inline-end: 0.5rem;
    }
  }

  label {
    display: block;
    font-weight: bold;
    margin-block-end: 0.5rem;
  }

  input {
    inline-size: 100%;
    margin-block-end: 1.75rem;
  }
}
