@font-face {
  font-family: 'Padauk';
  src: url(../fonts/Padauk-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Padauk';
  src: url(../fonts/Padauk-Bold.ttf);
  font-weight: 500;
}
