$black: #000000;
$orange: #ff7819;
$light-orange: #f18c4313;
$dark-orange: #d46516;
$white: #ffffff;
$light-white: #ffffff4d;
$off-white: #f6f6f6;
$grey: #888a8d;
$light-grey: #dadce08f;

$body-color: $black;
$bg-color: $off-white;

$border-radius: 6px;
$bubble-border-radius: 1.5rem;

$spinner-primary-border-color: $white;
$spinner-secondary-border-color: $light-white;
